* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bootstrap h1 {
  text-align: center;
  color: rgb(234, 0, 255);
  font-family: "Noto Serif";
  font-size: 30px;
  animation: colorChange 5s linear infinite;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

h1,
h4,
p {
  font-family: "Noto Serif";
}

.navbar-brand {
  font-family: "Noto Serif";
}

.nav-left img {
  margin-left: 130px;
  width: 120px;
  height: 85px;
  margin-bottom: -40px;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  font-family: "Noto Serif";
}

.section__header {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.section__header span {
  color: var(--primary-color);
}

.section__description {
  max-width: 600px;
  margin-inline: auto;
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
  box-shadow: 2px 2px 10px rgba(106, 56, 194, 0.5);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.logo span {
  color: #00fbff;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "cambria", "Poppins", sans-serif;
}

/* Navbar Styling */
.navbar {
  margin-top: 25px !important;
  font-family: "Cambria";
  background: linear-gradient(135deg, rgb(255, 23, 255), rgb(17, 211, 255));
  padding: 0px 0px;
  margin: 0 8px; /* Horizontal margin */
  border-radius: 25px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar:hover {
  background: linear-gradient(135deg, rgb(17, 211, 255), rgb(255, 23, 255));
  cursor: pointer;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

/* Toggler styling */
.navbar-toggler {
  border: none;
}

/* Navbar links */
.navbar-nav .nav-link {
  font-family: "Felipa";
  color: #fff !important;
  margin-right: 5px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #070707 !important;
  cursor: pointer;
}

/* Register button */
.navbar .btn-outline-success {
  font-family: "Felipa";
  border-radius: 15px;
  background-color: rgb(255, 23, 255);
  height: 50px;
  color: #fff;
  border-color: #ffd700;
}

.navbar .btn-outline-success:hover {
  background-color: rgb(17, 211, 255);
  color: #000;
}

.container-fluid {
  padding: 8px 16px;
}

.header__container {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.header__container h2 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fc08db;
  background-color: #fff8f5;
  border-radius: 5rem;
}

.header__container h2 img {
  max-width: 25px;
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
  line-height: 5.5rem;
}

.header__container h1 span {
  color: var(--primary-color);
  /* color: #00fbff; */
}

.header__container p {
  margin-bottom: 2rem;
  max-width: 600px;
  margin-inline: auto;
  color: rgb(0, 255, 8);
  line-height: 2rem;
  text-align: center;
}


/* Header Buttons Styling */
.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header__btns a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.header__btns a span {
  padding: 5px 11px;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  transition: 0.3s;
}

.header__btns a:hover span {
  box-shadow: 2px 2px 10px rgba(194, 56, 180, 0.5);
  color: #fff;
}

/* Browse Jobs Button */
.header__btns .btn {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__btns .btn:hover {
  color: #000000;
  background-color: #fff;
}

/* Footer Styles */
.footer {
  height: 50px;
  background: linear-gradient(135deg, rgb(17, 211, 255), rgb(255, 23, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px 25px;
  bottom: 0;
  gap: 5px;
}

.footer p,
.footer a {
  font-family: "Felipa";
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  text-align: center;
}